version: "3.9"
volumes:
  my_data:

networks:
  my_network:
    driver: bridge

services:
  db:
    image: postgres:12.0-alpine
    container_name: Blackwood-Database
    volumes:
      - my_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keybox  
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: P@ssw0rd12
    networks:
      - my_network 
      default:
        aliases: 
          - postgres
  
  keycloak:
      image: jboss/keycloak
      container_name: Blackwood-Keycloak
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: db
        DB_DATABASE: keybox
        DB_USER: admin
        DB_SCHEMA: public
        DB_PASSWORD: P@ssw0rd12
        KEYCLOAK_USER: admin
        KEYCLOAK_PASSWORD: P@ssw0rd12
      ports:
        - 8080:8080
      depends_on:
        - db
      networks:
        - my_network
        default:
          aliases: 
            - keycloak

     
  #keycloak-gatekeeper:
      #image: docker.io/bitnami/keycloak-gatekeeper:10
      container_name: gatekeeper
      #ports:
       # - '3000:3000'
      #networks: 
       # - my_network
       command:
      - /keycloak-gatekeeper
      - --listen
      - 127.0.0.1:8080
      - --enable-refresh-tokens: true
      - --enable-default-deny: True
      - --redirection-url: http://127.0.0.1:8000/*
      - --upstream-url
      - http://127.0.0.1:80
      - --secure-cookie: false
      - --discovery-url
      - http://127.0.0.1:8080/auth/realms/Blackwood
      - --encryption_key
      - sflfjljuweru0989
      - --client-id
      - gatekeeper
      - --client-secret
      - 06875104-5a09-402b-a768-2a3099359205
  
  nautobot:
      image: networktocode/nautobot-lab
      container_name: nautobot-lab
      NAUTOBOT_USER: admin
      NAUTOBOT_PASSWORD: P@ssw0rd12
      ports:
        - '8000:8000'
      networks:
        - my_network
        default:
          aliases: 
            - nautobot